{% extends "base.html" %}

{% block main %}
    <div class="container">
        <div class="header">
            <img
                src="https://i.ibb.co/jfScDTC/budget.png"
                alt="Expense Tracker"
            >
            <div class="balance-container">
                <h2>Your Balance</h2>
                <h2 id="balance" class="balance">{{current_balance.current_balance}}</h2>
            </div>
        </div>
        <div class="income-expense-container">
            <div>
                <h2>Income</h2>
                <p id="money-plus" class="money plus">${{income}}</p>
            </div>
            <div>
                <h2>Expense</h2>
                <p id="money-minus" class="money minus">${{expense}}</p>
            </div>
        </div>
        
        <h3>History</h3>
        <ul id="list" class="list">
            {% for transaction in transactions %}
            <li class= "{% if transaction.expense_type == "DEBIT" %} minus {% else %} plus {% endif %}">
                {{transaction.description}} 
                <span>{{transaction.amount}}</span>
                <a class="delete-btn" href="{% url 'delete_transaction' transaction.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                    </svg>
                </a>
            </li>
            {% endfor %}
        </ul>
        <h3>Add New Transaction</h3>
        {% for message in messages %}
        <!-- Notification -->
            {% if message.tags == "error" %}
                <div class="text-danger">
                    <p> {{message}} </p>
                </div>
            {% endif %}
        {% endfor %}
        <form id="form" method="POST" action="">
            {% csrf_token %}
            <div class="form-control">
                <label>Description</label>
                <input type="text" id="desc" name="desc"  placeholder="Enter Description" />
            </div>
            <div class="form-control">
                <label>
                    Amount
                    <br/>
                    <small>(-ve = Expense, +ve Income)</small>
                </label>
                <input type="number" id="amount" name="amount" placeholder="Enter Amount" />
            </div>
            <button type="submit" class="btn">Add Transaction</button>
        </form>
    </div>

{% endblock main %}