{% extends "base.html" %}

{% block main %}
    <h3>Login Page</h3>
    <form method="POST" id="login-form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username"  name="username" placeholder="username..">
            <div id="usernameHelp" class="form-text">Unique username is required.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label" placeholder="Password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" >
        </div>
        <div class="mb-3">
            <p>
                Does not have an account? Signup <a href="{% url 'signup_view' %}">here</a>
            </p>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock main %}