{% extends "base.html" %}

{% block main %}
    <h3>Signup Page</h3>
    <form method="POST" id="signup-form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username"  name="username" placeholder="username..">
            <div id="usernameHelp" class="form-text">Unique username is required.</div>
        </div>
        <div class="mb-3">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstname"  name="firstname" placeholder="First Name..">
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastname"  name="lastname" placeholder="Last Name..">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="mb-3">
            <p>
                Already have an account? Login <a href="{% url 'login_view' %}">here</a>
            </p>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock main %}